body
{
	background: url("../bg.png")
}
.preloads
{
	position: fixed;
	left: -1pt;
}
.preloads, .preloads img
{
	width: 1pt;
	height: 1pt;
}
.photo
{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center
}
#cimg
{
	position: absolute; 
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	max-height: 100%;
	max-width: 100%;
	transition: opacity 0.5s linear;
}
#num_str
{
	position: fixed;
	text-align: center;
	width: 100%;
	height: 36pt;
	bottom: 0;
	padding: 0;
	left: 0;
	font: 18pt/18pt 'Oranienbaum', serif;
	background-image: url("../white80.png")
}
a
{
	outline: none;
	transition: color 0.5s;
	color: #2D5BFF;
	text-decoration: underline
}
a:hover
{
	transition: color 0.5s;
	color: red;
	text-decoration: none
}
#left, #right
{
	position: fixed;
	bottom: 36pt;
	height: 100%;
	width: 45%;
}
#left{ left: 0 }
#right{ right: 0 }
.change
{
	opacity: 0;
	transition: opacity 0.5s linear;
}