body
{
	background: url("../bg.png")
}
.preloads
{
	position: fixed;
	left: -1pt;
}
.preloads, .preloads img
{
	width: 1pt;
	height: 1pt;
}
#cimg
{
	position: absolute; 
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	max-height: 100%;
	max-width: 100%;
	transition: opacity 0.5s linear;
}
#preload_anim
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
#num_str
{
	position: fixed;
	text-align: center;
	width: 100%;
	height: 36pt;
	bottom: 0;
	padding: 0;
	left: 0;
	font: 18pt/18pt 'Oranienbaum', serif;
	background-image: url("../white80.png")
}
a
{
	outline: none;
	transition: color 0.5s;
	color: #2D5BFF;
	text-decoration: underline
}
a:hover
{
	transition: color 0.5s;
	color: red;
	text-decoration: none
}
#left, #right
{
	background-repeat: no-repeat;
	opacity: 0.5;
	position: fixed;
	bottom: 36pt;
	height: 100%;
	width: 45%;
	transition: opacity 0.5s linear;
}
#left
{
	/*background-image: url(http://www.eminem.com/sites/deveminem.umg.edrupalgardens.com/files/201310/carousel-nav-prev.png);*/
	background-image: url(../prev.png);
	background-position: center left;
}

#right
{
	/*background-image: url(http://www.eminem.com/sites/deveminem.umg.edrupalgardens.com/files/201310/carousel-nav-next.png);*/
	background-image: url(../next.png);
	background-position: center right;
}
#left:hover, #right:hover
{
	transition: opacity 0.5s linear;
	opacity: 1.0;
}
#left{ left: 0 }
#right{ right: 0 }
.change
{
	opacity: 0;
	transition: opacity 0.5s linear;
}